{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "scss",
          "python",
          "ruby",
          "java",
          "sql",
          "yaml",
          "json"
        ],
        "plugins": ["show-language"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
