{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "scss",
          "python",
          "ruby",
          "java",
          "sql"
        ],
        "plugins": [],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}