{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "scss", "python", "java", "sql"],
        "plugins": ["line-numbers"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
