/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log
yarn-error.log

# ignore all builds
/build_local/
/build_staging/
/build_production/

# ignore local sonarscanner caching
.scannerwork
sonar-project.properties