html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $template-color;
  color: $template-color-opposing;
  font: normal 20px $template-default-font;
}

a {
  color: $template-color-accent;

  &:hover {
    color: $template-color-accent-dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.header {
  font-family: $template-header-font;
}

.container {
  padding: 0 24px;
  max-width: 1024px;
  min-height: calc(100vh - 380px);
  margin: 0 auto;

  @include media(">desktop") {
    padding: 0;
  }
}

article {
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.center-text {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.italic {
  font-style: italic;
}

.margin-top-50 {
  margin-top: 50px;
}

.button {
  display: inline-block;
  background-color: $template-color-accent;
  font-family: $template-header-font;
  font-size: 1.25em;
  color: $template-color;
  text-decoration: none;
  padding: 14px 24px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;

  i {
    font-size: 1.25em;
    vertical-align: text-bottom;
  }

  &:hover {
    color: $template-color;
    background-color: $template-color-accent-dark;
  }
}

.pagination {
  text-align: center;
  font-size: 1.5em;
  font-family: $template-header-font;
  a {
    margin: 5px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    display: inline-block;

    &:hover {
      transform: scale(1.3, 1.3);
    }
  }
}

.fas {
  font-family: "FontAwesome", Helvetica, Arial, sans-serif;
}
