header {
  color: $template-color-opposing;
  background-color: $template-color;

  nav {
    margin-bottom: 75px;
    display: flex;
    justify-content: center;

    a {
      color: $template-color-opposing;
      padding: 6px 9px;
      font-size: 1.75em;
      font-family: $template-header-font;
      text-decoration: none;
      border-bottom: 5px solid transparent;
      transition: all 0.2s ease-in-out;

      @include media(">phone") {
        padding: 6px 12px;
      }

      &.selected {
        border-bottom: 5px solid $template-color-accent;
      }

      &:hover {
        border-bottom: 5px solid $template-color-accent;
      }
    }
  }
}
