header {
  .icon {
    padding: 20px;
    width: 36px;
    vertical-align: sub;
  }

  nav {
    margin-bottom: 75px;
    display: flex;
    justify-content: center;

    a {
      color: $template-color-opposing;
      padding: 12px 12px;
      font-size: 24px;
      font-family: $template-header-font;
      text-decoration: none;
      border-bottom: 5px solid $template-color;
      transition: all 0.2s ease-in-out;

      &.selected {
        border-bottom: 5px solid $template-color-accent;
      }

      &:hover {
        border-bottom: 5px solid $template-color-accent;
      }
    }
  }
}
