.glide {
  .glide__bullets {
    display: flex;
    justify-content: center;
    padding: 20px;

    .glide__bullet {
      background-color: #fff;
      margin: 0 6px;
      width: 20px;
      height: 20px;
      opacity: 0.4;
      border-radius: 100%;

      &:hover {
        cursor: pointer;
      }

      &.glide__bullet--active {
        opacity: 1;
      }
    }
  }

  .glide__slides {
    .glide__slide {
      position: relative;
      height: 450px;

      img {
        height: 100%;
        position: absolute;
        top: 0; 
        bottom: 0;
        left: 0; 
        right: 0;
        margin: auto;

        @include media(">tablet") {
          width: 100%;
          height: auto;
        }
      }

      a {
        text-decoration: none;
      }

      p {
        @include media(">tablet") {
          font-size: 1.75em;
          width: auto;
        }

        width: 240px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -20%);
        color: #fff;
        font-size: 1.2em;
        text-align: center;
        font-family: $template-header-font;

        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px 35px;

        span {
          font-family: $template-default-font;
          font-size: 1.25rem;
        }
      }
    }
  }
}
