.slick-slider {
  position: relative;

  .slick-slide {
    background-color: rgba(0, 0, 0, 0.5);

    img {
      max-width: 100%;
    }
  }

  .slick-dots {
    li button {
      width: 10px;
    }
  }

  a {
    text-decoration: none;
  }

  p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    color: $template-color;
    font-size: 2rem;
    margin: 10px;
    text-align: center;
    font-family: $template-header-font;
  }
}

.social-media {
  display: flex;
  justify-content: center;

  a {
    img {
      width: 50px;
      padding: 20px;
      margin: 0 20px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.15, 1.15);
      }
    }
  }
}
