.swiper {
  height: 450px;

  .swiper-pagination {


    .swiper-pagination-bullet {
      background-color: #fff;
      margin: 0 6px;
      width: 16px;
      height: 16px;
      opacity: 0.4;

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      .swiper-lazy {
        height: 100%;
        background-size: cover;
        background-position: center;
      }

      a {
        text-decoration: none;
      }

      p {
        @include media(">tablet") {
          font-size: 1.75em;
          width: auto;
        }

        width: 200px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -20%);
        color: #fff;
        font-size: 1.2em;
        text-align: center;
        font-family: $template-header-font;

        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px 35px;

        span {
          font-family: $template-default-font;
          font-size: 1.25rem;
        }
      }
    }
  }
}
