nav {
  display: flex;
  background: #191919;

  img {
    width: 29px;
    vertical-align: sub;
  }

  a {
    padding: 12px 12px;
    font-size: 24px;
    font-family: "Fredoka One", Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    
    &.selected {
      border-bottom: 5px solid #ffbb00;
    }

    &:hover:not(:first-child) {
      background-color: lighten(#191919, 25%);
    }
  }
}
