.post-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;

  ul {
    list-style: none;

    li:before {
      content: '📌';
    }
  }

  @include media(">tablet") {
    max-width: 650px;
    margin: 0 auto;
  }

  .post-block {
    text-decoration: none;
    
    margin: 5px 5px;
    transition: all 0.2s ease-in-out;

    span {
      display: none;
      font-size: 0.7em;
    }

    @include media(">tablet") {
      flex: 0 0 calc(50% - 60px);

      span {
        display: inline-block;
      }
    }

    &:hover {
      transform: scale(1.05, 1.05);
    }
  }
}
