.post-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;

  ul {
    list-style-type: square;
  }

  @include media(">tablet") {
    max-width: 650px;
    margin: 0 auto;
  }

  .post-block {
    text-decoration: none;
    flex: 1 1 calc(100% - 60px);
    margin: 5px 5px;
    transition: all 0.2s ease-in-out;

    @include media(">tablet") {
      flex: 0 0 calc(50% - 60px);
    }

    &:hover {
      transform: scale(1.05, 1.05);
    }
  }
}

.pagination {
}
