html {
  --template-color: #202020;
  --template-color-opposing: #ffffff;
  --template-color-accent: #f79f1f;
  --template-color-accent-dark: #cc8720;

  @media screen and (prefers-color-scheme: light) {
    --template-color: #ffffff;
    --template-color-opposing: #202020;
    --template-color-accent: #f79f1f;
    --template-color-accent-dark: #cc8720;
  }

  .light {
    --template-color: #ffffff;
    --template-color-opposing: #202020;
    --template-color-accent: #f79f1f;
    --template-color-accent-dark: #cc8720;
  }
}

$template-color: var(--template-color);
$template-color-opposing: var(--template-color-opposing);
$template-color-accent: var(--template-color-accent);
$template-color-accent-dark: var(--template-color-accent-dark);

$template-default-font: "Open Sans", Verdana, Arial, sans-serif;
$template-header-font: "Montserrat", Arial, Helvetica, sans-serif;
