$template-color: #ececec;
$template-color-opposing: #191919;
$template-color-accent: #1DE9B6;

$template-default-font: "Open Sans", Verdana, Arial, sans-serif;
$template-header-font: "Montserrat", Arial, Helvetica, sans-serif;
