$template-color: #ececec;
$template-color-opposing: #191919;
$template-color-accent: #ffbb00;

$template-default-font: "Open Sans", Verdana, Arial, sans-serif;
$template-header-font: "Fredoka One", Arial, Helvetica, sans-serif;